header ul {
	margin-top: 150px;
position : absolute;
left : 0;
width : 100%;
background : url(../images/_background.jpg);
}
header ul {
margin : 0 auto;
width : 940px;
list-style : none;
}
header ul li {
float : left;
}
header ul li a {
display : block;
margin-right : 20px;
width : 140px;
font-size : 14px;
line-height : 44px;
text-align : center;
text-decoration : none;
color : #242424;
}
header ul li a:hover {
color : #fff;
}
header ul li.selected a {
color : #fff;
}