a:link {
    text-decoration: none;
}

a,
a:visited {
    color: #242424;
}

a:hover {
    color: #727272;
}

a {
    color: #242424;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*ESTE ES EL CONTENEDOR ABSOLUTO, EL DIOS DE LOS CONTENEDORES*/
.contenedor {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

    .logo {
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center;
        background-image: url(../images/fondo.jpg);
    }

    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: auto;
    }

    /*ESTE ES EL CONTENEDOR FLEXBOX QUE ENGLOBA AL MENU Y LOS PRODUCTOS*/
    .medio{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    /*ACÁ VAN LAS PROPIEDADES DEL MENÚ, PERO TIENE SU CSS INDEPENDIENTE (menu.css)*/
        .productos {
            width: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            height: auto;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-around;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }

            .caja {
                text-align: center;
                background-color: #6d6d6d;
            }

    .titulo {
        -ms-flex-item-align: center;
        align-self: center;
        text-align: center;
    }



    .pie {
        margin-top: auto;
        height: 150px;
        background: #AD1818;
        color: #CCCCCC;
        text-align: center;
        padding: 10px;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        width: 100%;
    }

    .pie .columnasfoot {
        width: 25%;
        float: left;
    }

    .pie .columnasfoot ul li {
        list-style-type: none;
    }

    .pie .columnaredes li {
        list-style-type: none;
        float: right;
        margin: 10px;
    }

@media only screen and (max-width: 768px) {
    /* Para movile */
    .productos{
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    /* Esconde el menu en caso de una pantalla pequeña */
    .menu {
        display: none;
    }
}