a:link {
    text-decoration: none;
}

a,
a:visited {
    color: #242424;
}

a:hover {
    color: #727272;
}

a {
    color: #242424;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background: #e7e7e7;
    height: 100%;
}

/*ESTE ES EL CONTENEDOR ABSOLUTO, EL DIOS DE LOS CONTENEDORES*/
.contenedor {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
/*FIN DEL CONTENEDOR ABSOLUTO*/

    .cabecera {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center;
        /*background-image: url(../images/fondo.jpg);*/
        background-color: #e48d1b;
        box-shadow: 0 5px 6px 0px rgba(59, 59, 59, 0.911);
    }

    .cabecera img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: auto;
    }

    .buscador{
        width: 300px;
    }
    .buscador .search input[type=text] {
        width: 250px;
        height: 40px;
        text-align: left;
        box-sizing: border-box;
        border: 0;
        border: 1px solid #ffffffa9;
        border-radius: 3px;
        font-size: 16px;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.08);
        padding: 7px 20px 7px 20px;
        -webkit-transition: width 0.4s ease-in-out;
        -o-transition: width 0.4s ease-in-out;
        -moz-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    /*ESTRA PARTE SE ENCARGA DE QUE LAS PALABRAS "QUE QUERÉS BUSCAR HOY" EN LA BARRA DE BUSQUEDA SE MANTENGAN EN  BLANCO*/
    ::-moz-placeholder { /* Firefox 19+ */
        color: #ffffff;
        opacity: 1;
      }
      ::-webkit-input-placeholder { /* Chrome */
        color: #ffffff;
      }
    
    /*MAS BLANCO QUE ARROZ SAMÁN (PD: A IE NO LE DOY SOPORTE)*/
    
    .buscador .search input[type=text]:focus {
        width: 300px;
        outline: none;
        border: 0;
        border: 1px solid #ffffffa9;
    }

    .titulo {
        margin-top: 50px;
        -ms-flex-item-align: center;
        align-self: center;
        text-align: center;
    }

    /*ESTE ES EL CONTENEDOR FLEXBOX QUE ENGLOBA AL MENU Y LOS PRODUCTOS*/
    .medio{
        min-height: 800px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    /*ACÁ VAN LAS PROPIEDADES DEL MENÚ, PERO TIENE SU CSS INDEPENDIENTE (menu.css)*/
        .productos {
            padding-left: 100px;
            width: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            height: auto;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-around;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }

            .caja {
                width: 20%;
                border: 1px solid #a7a7a7;
                border-radius: 3px;
                text-align: center;
                box-shadow: 0 2px 10px 0px rgba(59, 59, 59, 0.911);
                margin: 5px;
                background: #ffffff; 
                /*background-color: #6d6d6d;*/
            }
    /*ACÁ TERMINA EL CONTENEDOR DEL MENU Y LOS PRODUCTOS*/


    .pie {
        margin-bottom: 0px;
        margin-top: auto;
        margin-left: 150px;
        height: 29%;
        width: 100%;
        background: #0c2f5f;
        color: #CCCCCC;
        text-align: center;
        padding: 10px;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
         display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       /* justify-content: space-between;
        width: 100%;*/
    }

    .listas{

    margin-top: 25px;
    margin-right: 50px;
}
    .columnasfoot {
        width: 24%;
        float: right;
        margin: 10px;
        display: flex;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        justify-content: space-between;
    }

    .columnasfoot ul li{
        list-style-type: none;
         font-size: small; 
         margin-top: 5px;
         
    }
    .columnasfoot ul li a {
       color: #ffffff;
    }

    .columnaredes i {
        list-style-type: none;
        margin-right: 30px;
        color: #ffffff;

    }

.columnaredes{

    margin-left: 70px;
}

    .tarjetas {
     margin-top: 15px;
    }
    @media only screen and (max-width: 1366px) {
        .caja{
            width: 45%;
        }
    }
@media only screen and (max-width: 768px) {
    /* Para movile */
    .productos{
        width: 100%;
        padding-left: 0px;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    /* Esconde el menu en caso de una pantalla pequeña */
    .menu {
        display: none;
    }
    .caja{
        width: 100%;
    }
}


