.menu{
  width: 300px;
  height: auto;
}
nav {
  margin-top: auto;
  position: fixed;
  width: 300px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {

  display: block;
  list-style-type: none;
}

.button {
  /**/
  display: inline-block;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  height: 70px;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom:10px; 
  width: 70px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.button i {
  display: inline-block;
}
.button span {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.button span:after {
  opacity: 0;
  top: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}


/*ACÁ SE ESPECIFICA LA FORMA DE FUNCINAR DE LOS BOTONES CUANDO SE LES HACE "HOVER"*/
/*HOME*/
.btn-home span{
    visibility: hidden;
    font-size: 20px;
}

.btn-home:hover span{
    visibility: visible;
  font-size: 20px;
}
/*ESTÉTICA*/
.btn-este span{
    visibility: hidden;
    font-size: 20px;
}

.btn-este:hover span{
    visibility: visible;
  font-size: 20px;
}
/*TIEMPO LIBRE*/
.btn-tl span{
    visibility: hidden;
    font-size: 20px;
}

.btn-tl:hover span{
    visibility: visible;
  font-size: 20px;

}
/*HOTELES*/
.btn-hot span{
    visibility: hidden;
    font-size: 20px;
}

.btn-hot:hover span{
    visibility: visible;
  font-size: 20px;
}
/*VIAJES*/
.btn-viaj span{
    visibility: hidden;
    font-size: 20px;
}

.btn-viaj:hover span{
    visibility: visible;
  font-size: 20px;
}
/*SERVICIOS*/
.btn-serv span{
    visibility: hidden;
    font-size: 20px;
}

.btn-serv:hover span{
    visibility: visible;
  font-size: 20px;
}
/*REGISTRO*/
.btn-reg span{
    visibility: hidden;
    font-size: 20px;
}

.btn-reg:hover span{
    visibility: visible;
  font-size: 20px;
}
.button:hover {
 
  background-color: #6d0c0c;
  width: 200px;
}


.button:hover span:after {
  opacity: 1;
  right: 0;
}